.wrapper {
    margin: 30px auto 0;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    border: #69F0AE 2px solid;
    padding: 30px;
}
.header {
    width: 100%;
}
.form {
    width: 100%;
}
.form p {
    font-weight: 700;
}
.period {
    height: 350px;
}
.row {
    display: flex;
    justify-content: space-between;
    height: 130px;
}
.people {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.people span {
    font-weight: 700;
    margin: 0 10px;
}
.people button {
    border: 1px solid #69F0AE;
    font-weight: 700;
    cursor: pointer;
}
.result {
    width: 100%;
    text-align: center;
    background: #69F0AE;
    padding: 1px 0;
    margin: 15px 0;
}
.order {
    display: flex;
    justify-content: center;
}
.button {
    padding: 5px 15px;
    border-radius: 20px;
    background: #69F0AE;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    cursor: pointer;
}